.profile__image-container {
    position: relative;
    margin: 0 29px 0 0;
}

.profile__image {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: url('../../../images/avatar.jpg');
    background-size: cover;
    background-position: center;
    
}

.profile__image-edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity ease .3s;
}

.profile__image-container:hover .profile__image-edit {
    opacity: 1;
    cursor: pointer;
    background-image: url('../../../images/edit-pencile.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media screen and (max-width: 740px) {
    .profile__image {
        margin: 0 10px 0 0;
    }
}

@media screen and (max-width: 480px) {
    .profile__image {
        margin-right: 0;
    }
}
